# dependencies
node_modules/

# nextjs
.next/
out/

# env
.env
.env.local
.env.production
.env.development

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build
dist/
build/

# vscode
.vscode/

# idea
.idea/

# os
.DS_Store
Thumbs.db